- name: Docker Dependencies
  apt:
    pkg:
    - apt-transport-https
    - ca-certificates
    - curl
    - software-properties-common
    - python3
    - python3-pip
    - python-setuptools
    state: latest
    update_cache: yes
  tags: docker
- name: Docker Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  tags: docker

- name: Add Docker Packages to Repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename|lower }} stable
  tags: docker

- name: Install Docker
  apt: 
    name: docker-ce
    state: latest
    update_cache: yes
    
- name: Start Docker Service
  service:
    name: docker
    state: started
- name: pip install docker
  pip:
    name: docker